body {
    font: normal 16px/1.5 sans-serif;
    color: rgb(255, 255, 255);
    background: no-repeat;
    background-image: url('../img/fond.jpg');
    z-index: 0;
    background-size:initial;
  }
  