*{
  margin: 0;
}

body {font-family: sans-serif
}
 
nav {

  margin: 0;
  height: 50px;
  width: 100%;
  display: flex;
}

.menu-right{
  position: fixed;
  right: 0;
  list-style: none;
  top:15px
}

.menu-right a{
  font-size: 1rem; 
  padding: 10px;
  justify-content: center;
}
  
main {
  flex: 0;
}
   

nav a:hover{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    cursor: pointer;
    animation-iteration-count: infinite;
    /***
    transition : ...;
    */
}

main {
  flex: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align:center;
    }

 .logo {position: absolute; top: auto; left: 120px;;
}

.styled {
  border: 1;
  line-height: 2;
  padding: 0 10px;
  font-size: 0,2rem;
  text-align: center;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
  background-color: rgb(147, 143, 143);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(5, 52, 152);
  color: white;
  text-align: center;
  height: 4%;
}


