body{
font-family: sans-serif;
}

.black-button{
    color: white;
    background-color: black;
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    text-align: center;
}
.brown{
    color: rgb(252, 4, 4);
}

nav{
    width: 100%;
    margin: 10px;
}

nav a{
    width: 100%;
    font-size: 30px; 
    padding: 20px;
}
nav a:hover{
    background-color: black;
    color:white;
    cursor: pointer;
    animation-iteration-count: infinite;
}

@keyframes btn{
    from{
        background-color: white;
        color: black;
    }

    to {
        background-color: rgb(0, 0, 0)
        color: white;
    }
    
}