body{
font-family: sans-serif;
}

.black-button{
    color: white;
    background-color: black;
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    text-align: center;
}
.brown{
    color: rgb(252, 95, 4);
}
#menu{
}
#menu li{
    text-decoration: none;
    padding-right: 20px;
}